<header>
    <nav>
        <ul>
            <li><a (click)="scrollTo('intro')">Top</a></li>
            <li><a (click)="scrollTo('work')">Work</a></li>
            <li><a (click)="scrollTo('portfolio')">Portfolio</a></li>
        </ul>
    </nav>
</header>
<main>
    <div id="intro" class="bio">
        <span class="prof_container">
            <img src="../../../assets/img/me_pic.jpg" alt="profile picture" class="profilePic">
        </span>
        <p>Greetings. I'm <span class="bold">Patrick Price</span></p>
        <p>I'm a FullStack Developer with experience with both front end and back end development.</p>
        <button (click)="scrollTo('work')">Click to Learn more</button>
    </div>
    <div id="work">
        <h3>Here's a list of some of my skill sets.</h3>
        <ul class="skills">
            <div class="skills_container">
                <li>
                    <h3>Javascript</h3>
                    <fa-icon [icon]="faJs" class="js_icon"></fa-icon>
                    <p>Knowledgable with some of it's higher order functions.</p>
                </li>
                <li>
                    <h3>HTML5</h3>
                    <fa-icon [icon]="faHtml" class="html_icon"></fa-icon>
                    <p>Familiar with Elements, syntax, and SEO proceedures.</p>
                </li>
                <li>
                    <h3>CSS/SCSS</h3>
                    <fa-icon [icon]="faCss" class="css_icon"></fa-icon>
                    <p>Knowledgeable in using selectors, animations, and pseudo classes.</p>
                </li>
                <li>
                    <h3>Bootstrap</h3>
                    <fa-icon [icon]="faBootstrap" class="bs_icon"></fa-icon>
                    <p>Knowledgeable with the framework and how it's selectors work.</p>
                </li>
                <li>
                    <h3>Angular</h3>
                    <fa-icon [icon]="faAngular" class="ang_icon"></fa-icon>
                    <p>Knowledgeable with this framework and have built several sites using this framework.</p>
                </li>
                <li>
                    <h3>Nodejs</h3>
                    <fa-icon [icon]="faNode" class="node_icon"></fa-icon>
                    <p>Familiar with packages, dependencies, and have built several back-ends with this framework.</p>
                </li>
                <li>
                    <h3>React</h3>
                    <fa-icon [icon]="faReact" class="react_icon"></fa-icon>
                    <p>Familiar with this framework and have built a few sites with it.</p>
                </li>
                <li>
                    <h3>Photo Manipulation</h3>
                    <fa-icon [icon]="faPs" class="ps_icon"></fa-icon>
                    <p>Knowledgeable in masks,layers,color manipulation, and other features within Adobe Photoshop.</p>
                </li>
                <li>
                    <h3>Video Editing</h3>
                    <fa-icon [icon]="faVideo" class="pre_icon"></fa-icon>
                    <p>Knowledgeable in keys, masking, nesting, and other features with Adobe Premiere.</p>
                </li>
            </div> 
        </ul>
       
           
            <button (click)="scrollTo('portfolio')">Projects I've made</button>
        
    </div>
    <div id="portfolio" class="projects">
        <h4>Projects</h4>
        <p>Below are several projects I have developed. Click on an image to read a brief description and see it live.</p>
        <carousel [slides]="slides"></carousel>
    </div>
</main>
<footer class="contact_area">
    <h2>Connect with me</h2>
        <ul class="links">
            <li>
               <a href="https://www.linkedin.com/in/patrick-p-35600135/" target="_blank"><fa-icon [icon]="faLinkedin" class="linkedIn" ></fa-icon></a> 
            </li>
            <li>
                <a href="https://github.com/Damerian00" target="_blank"><fa-icon [icon]="faGithub" class="gitHub" ></fa-icon></a>
            </li>
        </ul>
</footer>